{% extends "base.html" %}
{% load tz %}

{% block title %}Dashboard - {{ device }}{% endblock %}

{% block content %}
    <style>
        .filter-form {
            display: flex;
            align-items: flex-end;
            gap: 15px;
            flex-wrap: wrap;
            margin-bottom: 20px;
        }

        .control-group {
            display: flex;
            flex-direction: column;
        }

        .button-group {
            display: flex;
            gap: 10px;
            margin: 10px;
        }

        .control-group label {
            margin-bottom: 5px;
            font-weight: bold;
        }

        .control-group input,
        .control-group select {
            padding: 6px 10px;
        }
    </style>
    <h2>Eszköz: {{ device }}</h2>
    <div class='controls'>
        <form method='get' class="filter-form">
            <div class='control-group'>
                <label>Eszköz:</label>
                <select name='device'>
                    {% for d in devices %}
                        <option value='{{ d }}' {% if d == device %}selected{% endif %}>{{ d }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class='control-group'>
                <label>Kezdés:</label>
                <input type='datetime-local' name='start_time' value='{{ start_time|slice:":16" }}'>
            </div>
            <div class='control-group'>
                <label>Vége:</label>
                <input type='datetime-local' name='end_time' value='{{ end_time|slice:":16" }}'>
            </div>
            <div class='button-group'>
                <button type='submit'>Szűrés</button>
                <button type='button' onclick='resetFilters()'>Alaphelyzet</button>
            </div>
        </form>
    </div>

    <div style="width:100%;height:600px;">
        <canvas id='SensorChartTemperature'></canvas>
    </div>
    <div style="width:100%;height:600px;">
        <canvas id='SensorChartHumidity'></canvas>
    </div>

    <script src='https://cdn.jsdelivr.net/npm/chart.js'></script>
    {% block extra_scripts %}
    <script>
        const raw = [{% for d in data %}{t:'{{ d.created_at|localtime|date:"Y-m-d H:i:s" }}',
            t1:{% if d.t1 is None %}null{% else %}{{ d.t1 }}{% endif %},
            t2:{% if d.t2 is None %}null{% else %}{{ d.t2 }}{% endif %},
            t3:{% if d.t3 is None %}null{% else %}{{ d.t3 }}{% endif %},
            h1:{% if d.h1 is None %}null{% else %}{{ d.h1 }}{% endif %},
            h2:{% if d.h2 is None %}null{% else %}{{ d.h2 }}{% endif %},
            h3:{% if d.h3 is None %}null{% else %}{{ d.h3 }}{% endif %}
        },{% endfor %}].reverse();

        const datasetsTemperature = [];
        datasetsTemperature.push({ label: '{{ sensor_names.t1|escapejs }} (°C)', data: raw.map(x => x.t1), borderColor: '#FF6384', tension: 0.1 });
        datasetsTemperature.push({ label: '{{ sensor_names.t2|escapejs }} (°C)', data: raw.map(x => x.t2), borderColor: '#36A2EB', tension: 0.1 });
        if (raw.some(x => x.t3 !== null && x.t3 !== undefined)) {
            datasetsTemperature.push({ label: '{{ sensor_names.t3|escapejs }} (°C)', data: raw.map(x => x.t3), borderColor: '#FFCE56', tension: 0.1 });
        }
        const datasetsHumidity = [];
        datasetsHumidity.push({ label: '{{ sensor_names.h1|escapejs }} (%)', data: raw.map(x => x.h1), borderColor: '#c8ff63', tension: 0.1 });
        datasetsHumidity.push({ label: '{{ sensor_names.h2|escapejs }} (%)', data: raw.map(x => x.h2), borderColor: '#eb36dc', tension: 0.1 });
        if (raw.some(x => x.h3 !== null && x.h3 !== undefined)) {
            datasetsHumidity.push({ label: '{{ sensor_names.h3|escapejs }} (%)', data: raw.map(x => x.h3), borderColor: '#f16423', tension: 0.1 });
        }

        new Chart(document.getElementById('SensorChartTemperature'), {
            type: 'line',
            data: {
                labels: raw.map(x => x.t),
                datasets: datasetsTemperature
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: { legend: { position: 'top' } },
                scales: { y: { beginAtZero: true, grace:'10%', title: { display: true, text: 'Hőmérséklet (°C)' } }, x: { title: { display: true, text: 'Idő' } } }
            }
        });
        new Chart(document.getElementById('SensorChartHumidity'), {
            type: 'line',
            data: {
                labels: raw.map(x => x.t),
                datasets: datasetsHumidity
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: { legend: { position: 'top' } },
                scales: { y: { beginAtZero: true, grace:'10%', title: { display: true, text: 'Páratartalom (%)' } }, x: { title: { display: true, text: 'Idő' } } }
            }
        });
        <!--Ha van filter kitöltve akkor azt adja vissza ha nincs akkor percenként frissít-->
        function hasFilter() { const params = new URLSearchParams(window.location.search); return params.has("start_time") || params.has("end_time"); }
        if (!hasFilter()) setInterval(() => { location.reload(); }, 60000);
        
        <!-- Reset Filters -->
        function resetFilters() { 
            const urlParams = new URLSearchParams(window.location.search);
            
            const device = urlParams.get("device");
            const newUrl = `?device=${encodeURIComponent(device)}`;
            window.location.href = newUrl;
        }
    </script>
    {% endblock %}
{% endblock %}
